<!-- <p>about works!</p> -->
<h1 class="heading">STAFF !!</h1>
<div class="container">
    <div class="col col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/Image/vk.jpg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h3>Vijaykumar Mane</h3>
                        <p>Software Developer</p>
                        <p>FrontEnd</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/Image/nithin.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h3>Nithin Gowda</h3>
                        <p>Software Developer</p>
                        <p>BackEnd</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/Image/go-go.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h3>Gokul M A</h3>
                        <p>Software Developer</p>
                        <p>FrontEnd</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-4">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/Image/praju.jpeg" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                        <h3>Prajwal</h3>
                        <p>Software Developer</p>
                        <p>BackEnd</p>
                    </div>
                </div>
            </div>
        </div>


    </div>