<!-- <p>about works!</p> -->
<h1 class="heading">STAFF</h1>
<div class="container">
    <div class="col col-4">
        <div class="card" style="width: 20rem;">

            <img src="../../assets/Image/vk.jpg" class="cardimg" alt="hiring">
            <div class="card-body">
                <h5 class="card-title">Name: Vijaykumar Mane</h5>
                <p class="card-text">Software Developer</p>

                <!-- <a href="#" class="btn btn-primary">Register</a> -->
            </div>
        </div>
    </div>

    <div class="col col-4">
        <div class="card" style="width: 20rem;">

            <img src="../../assets/Image/vk.jpg" class="cardimg" alt="hiring">
            <div class="card-body">
                <h5 class="card-title">Name: Vijaykumar Mane</h5>
                <p class="card-text">Software Developer</p>

                <!-- <a href="#" class="btn btn-primary">Register</a> -->
            </div>
        </div>
    </div>

    <div class="col col-4">
        <div class="card" style="width: 20rem;">

            <img src="../../assets/Image/vk.jpg" class="cardimg" alt="hiring">
            <div class="card-body">
                <h5 class="card-title">Name: Vijaykumar Mane</h5>
                <p class="card-text">Software Developer</p>

                <!-- <a href="#" class="btn btn-primary">Register</a> -->
            
            </div>
        </div>
    </div>

</div>