<!-- <app-loginform></app-loginform> -->
<!-- <app-registerform></app-registerform> -->


<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" routerLink="login"> <span style="color:rgb(201, 6, 6) ">i</span>  -->
        <!-- <a class="navbar-brand" routerLink="login"><span style="color: red; font-style:inherit;"> i</span>
          <span class="twine">TWINE</span> </a> -->

        <a class="logo1" routerLink="login"><img src="../assets/Image/download.png" class="logo" alt=""></a>
        <!-- <a class="navbar-brand" routerLink="login"><img src="../assets/Image/download.png" id="logo" alt="logo"></a> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <a class="nav-item nav-link active" routerLink="home">Home Page</a>
            <a class="nav-item nav-link active" routerLink="jobs">Jobs Page</a>

            <a class="nav-item nav-link" routerLink="about">About Page</a>
            <a class="nav-item nav-link" routerLink="login">Signin</a>
            <!-- <a class="nav-item nav-link" routerLink="register">Register</a> -->

        </div>

    </div>
</nav>
<router-outlet></router-outlet>
<!-- Merge branch 'master' of https://github.com/vkm11/Reactive-form3 -->