#navbarNav{
    justify-content: right;
    /* display: flex; */
    align-items: center;
  
}
.navbar-light{
    background-color: rgb(205, 112, 50);
    
   
}
.nav-item{
    border: 1px;
    width: fit-content;
    border-style: ridge;
    border-radius: 1rem;
    white-space: normal;

}
.nav-item{
    background-color: rgb(161, 46, 136);
    color: azure;
}
.logo{
    width: 100px;
    height: 80px;
}
