<!-- <p>jobs works!</p> -->
<!-- <p>jobs works!</p> -->
<h1 class="heading">We are Hiring!!</h1>
<div class="container">
    <div class="col col-sm-5">
        <div class="card" style="width: 25rem;">

            <img src="../../assets/Image/angular-hiring.jpg" class="cardimg" alt="hiring">
            <div class="card-body">
                <h5 class="card-title">Angular Developer</h5>
                <p class="card-text">We are looking to hire an experienced Angular developer to join our dynamic team.</p>
                <a href="register" class="btn btn-primary">Go to Register</a>
            </div>
        </div>
    </div>
    
    <div class="col col-sm-5">
        <div class="card" style="width: 25rem;">
            <img src="../../assets/Image/Rjs.jpg" class="card-img-top" alt="hiring">
            <div class="card-body">
                <h5 class="card-title">ReactJS Developer</h5>
                <p class="card-text">We are looking to hire an experienced ReactJS developer to join our dynamic team.</p>
                <a href="register" class="btn btn-primary">Go to Register</a>
            </div>
        </div>
    </div>

    <div class="col col-sm-5">
        <div class="card" style="width: 25rem;">

            <img src="../../assets/Image/img4.jpg" class="cardimg" alt="hiring">
            <div class="card-body">
                <h5 class="card-title">PHP Developer</h5>
                <p class="card-text">We are looking to hire an experienced PHP developer to join our dynamic team.</p>
                <a href="register" class="btn btn-primary">Go to Register</a>
            </div>
        </div>
    </div>
    
</div>
